{% extends '::layoutSquid.html.twig' %}

{% block slider%}
	{% include '::slider.html.twig' %}

{%endblock %}

{% block menu%}
	{% include 'SquidProjectGeneralBundle:Menus:menuRestriction.html.twig' %}

{%endblock %}

{% block corps %}
	<div class="col-lg-8" >
				Section			
	</div>
{% endblock %}