<div  class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="{{path("squid_project_general_source_newIP")}}"><i class="fa fa-fw fa-dashboard"></i> Déclarer addresses IP</a>
        </li>
        <li>
            <a href="{{path("squid_project_general_source_new")}}"><i class="fa fa-fw fa-dashboard"></i> Nouvelle Source</a>
        </li>
        <li>
            <a href="{{path("squid_project_general_source_all")}}"><i class="fa fa-fw fa-table"></i> Lister/Modifier les sources</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Menu 7<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Menu 71</a>
                </li>
                <li>
                    <a href="#">Menu 72</a>
                </li>
            </ul>
        </li>
       
    </ul>
</div>	      