<div class="collapse navbar-collapse navbar-ex1-collapse">
	                <ul class="nav navbar-nav side-nav">
	                    <li>
	                        <a href=""><i class="fa fa-fw fa-dashboard"></i> Menu 1</a>
	                    </li>
	                    <li>
	                        <a href=""><i class="fa fa-fw fa-bar-chart-o"></i> Menu 2</a>
	                    </li>
	                    <li>
	                        <a href=""><i class="fa fa-fw fa-table"></i> Menu 3</a>
	                    </li>
	                    <li>
	                        <a href=""><i class="fa fa-fw fa-edit"></i> Menu 4</a>
	                    </li>
	                    <li>
	                        <a href=""><i class="fa fa-fw fa-desktop"></i> Menu 5</a>
	                    </li>
	                    <li>
	                        <a href=""><i class="fa fa-fw fa-wrench"></i> Menu 6</a>
	                    </li>
	                    <li>
	                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Menu 7<i class="fa fa-fw fa-caret-down"></i></a>
	                        <ul id="demo" class="collapse">
	                            <li>
	                                <a href="#">Menu 71</a>
	                            </li>
	                            <li>
	                                <a href="#">Menu 72</a>
	                            </li>
	                        </ul>
	                    </li>
	                   
	                </ul>
           		</div>	      