<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">

    <title>Login</title>

    <link href="{{asset("css/bootstrap.css")}}"rel="stylesheet">
    <link href="{{asset("css/login.css")}}" rel="stylesheet">
    <style>
  

    </style>

  </head>

  <body>
    <div class="container">
        <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Connectez vous</h2>
        <input type="text" class="form-control" placeholder="login" required autofocus>
        <input type="password" class="form-control" placeholder="mot de passe" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Se souvenir de moi </input>
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
      </form>

    </div> 
  </body>
</html>
