{% extends '::layoutSquid.html.twig' %}

{% block slider%}
	{% include '::slider.html.twig' %}

{%endblock %}

{% block menu %}
	{% include 'SquidProjectGeneralBundle:Menus:menuDestination.html.twig' %}

{%endblock %}

{% block corps %}
	<div style="padding-left:150px; padding-top:50px  " class="col-lg-8" >
		<form role="form" method="post" action="{{path("squid_project_general_destination_new")}}">
		<fieldset>

            <div class="form-group ">
                <label class="control-label" for="nom">Nom de la destination</label>
                <input type="text" class="form-control" id="nom" name="nom">
                <label class="control-label" style="float:right"  id="nom_check" ></label>
            </div>
           
            <div class="form-group ">
                <label class="control-label" for="idDB">Base de données</label>
                <select class="form-control" name="idDB" id="idDB">
                	<option value=""></option>
                    {% for db in dbs %}
                        <option value="{{db.id}}">{{db.nom}}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" id="sbmt" class="btn btn-primary">Ajouter</button>
        </fieldset>
        </form>	
	</div>

    <script type="text/javascript">

        var delay = (function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $('#nom').keyup(function(){
                var champs="nom";
                var val=$("#"+champs).val();
                delay(function(){
                  $.ajax({
                    url : "/squidproject/web/app_dev.php/validate/destination/"+val,
                    type : 'GET',
                    dataType : 'html',
                    success : function(rslt, statut){
                        $("#"+champs+"_check").html(rslt); 
                         
                    }
                });
                }, 500 );
            });

        setInterval(function(){
             if($("#nom_check").text()!="OK !" ){
                $("#sbmt").prop("disabled",true);
             }else{
                $("#sbmt").prop("disabled",false);
             }
        }, 300);



    </script>

{% endblock %}